
.Tabs{
display: flex;
justify-content: center;
}
.tab1, .tab2{
    color:#3e404a;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    border:1px solid #eae3e3;
    border-radius:10px;
    font-size: 16px;
        
}
.Tabs .nav .active{
    background: #fff;
     color: linear-gradient(to right, #485ef1, #6e28e5);
     width:100px;
     border-radius:10px;
     padding: 7px;
}
.Tabs .nav .active p{
 
        font-size: 16px;
        font-weight: 600;
        background: -webkit-linear-gradient(#485ef1, #6e28e5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


